<!-- <div id="overlay" ><h1>Welcome to my website</h1>
<button class="btn-danger btn-autosize">Click</button>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div id="carouselExample" class="carousel slide hidden-xs" data-ride="carousel">
  <div class="carousel-inner" style="margin-left:0%; background-color:black;">
    <div class="carousel-item active ">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <img src="https://getbootstrap.com/docs/4.1/assets/img/bootstrap-stack.png" alt="slide1" class=" w-100">
          </div>
          <div class="col-lg-6" style="color: aliceblue; margin-top:50px;">
            <h1>Item 1</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse quisquam doloribus autem aliquid enim reprehenderit
              accusamus a dolores sequi maiores laboriosam labore perspiciatis optio, ipsa culpa incidunt? Pariatur, voluptatum!
              Dolorem, tempora iure?</p>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <img src="https://getbootstrap.com/docs/4.1/assets/img/bootstrap-stack.png" alt="slide1" class=" w-100">
          </div>
          <div class="col-lg-6" style="color: aliceblue; margin-top:50px;">
            <h1>Item 2</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse quisquam doloribus autem aliquid enim reprehenderit
              accusamus a dolores sequi maiores laboriosam labore perspiciatis optio, ipsa culpa incidunt? Pariatur, voluptatum!
              Dolorem, tempora iure?</p>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <img src="https://getbootstrap.com/docs/4.1/assets/img/bootstrap-stack.png" alt="slide1" class=" w-100">
          </div>
          <div class="col-lg-6" style="color: aliceblue; margin-top:50px;">
            <h1>Item 3</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse quisquam doloribus autem aliquid enim reprehenderit
              accusamus a dolores sequi maiores laboriosam labore perspiciatis optio, ipsa culpa incidunt? Pariatur, voluptatum!
              Dolorem, tempora iure?</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <a href="#carouselExample" class="carousel-control-prev" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon">
      <span class="sr-only">Previous</span>
    </span>
  </a>
  <a href="#carouselExample" class="carousel-control-next" role="button" data-slide="next">
    <span class="carousel-control-next-icon">
      <span class="sr-only">Next</span>
    </span>
  </a>
</div>


<div class="card-group">
  <div class="card-fluid col-lg-3 text-white bg-secondary mb-3" style="min-width: 18rem; ">
    <div class="card-header">Header</div>
    <img class="card-img-top" src="https://getbootstrap.com/docs/4.1/assets/img/bootstrap-stack.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-basic col-lg-12 btn-autosize">Buy</button>
    </div>
  </div>
  <div class="card-fluid col-lg-3 text-white bg-danger mb-3" style="min-width: 18rem;">
    <div class="card-header">Header</div>
    <img class="card-img-top" src="https://getbootstrap.com/docs/4.1/assets/img/bootstrap-stack.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-basic col-lg-12 btn-autosize">Purchage</button>
    </div>
  </div>
  <div class="card-fluid col-lg-3 text-white bg-warning mb-3" style="min-width: 18rem;">
    <div class="card-header">Header</div>
    <img class="card-img-top" src="https://getbootstrap.com/docs/4.1/assets/img/bootstrap-stack.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-basic col-lg-12 btn-autosize">Try</button>
    </div>
  </div>
  <div class="card-fluid text-white bg-success mb-3 col-lg-3 " style="min-width: 18rem; ">
    <div class="card-header">Header</div>
    <img class="card-img-top" src="https://getbootstrap.com/docs/4.1/assets/img/bootstrap-stack.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Secondary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-basic col-lg-12 btn-autosize">Order</button>
    </div>

  </div>

</div>
<div class="container-fluid">
  <!-- <div class="page-header ">
        <h1>Bootstrap</h1>
      </div>
      <div class="jumbotron col-lg-12">
        <p>hello this is a paragraph</p>
  
        <p>
          <a href="#" class="btn btn-lg btn-info" role="button">info</a>
          <button type="submit" class="btn btn-danger" role="button"> button</button>
          <input type="button" class="btn btn-info" value="Info" />
          <button type="submit" class="btn-primary btn-sm">Primary</button>
          <button type="submit" class="btn btn-basic btn-xs">basic</button>
          <button type="submit" class="btn btn-success btn-xs">success</button>
          <button type="submit" class="btn btn-warning btn-lg disabled">warning</button>
          <button type="submit" class=" btn-link btn-lg">link</button>
          <button type="submit" class="btn btn-lg btn-primary" disabled="disabled">disabled</button>
        </p>
        <a href="#" class="btn btn-info btn-lg disabled" role="button">link</a>
        <hr class="style-two">
        <div class="btn-group btn-group-lg" role="group">
          <button type="button" class="btn-info btn-lg">Primary1</button>
          <button type="button" class="btn-basic ">Primary2</button>
          <button type="button" class="btn-basic ">Primary3</button>
  
        </div>
        <hr class="style-three">
      </div> -->


  <div class="row">

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <h4>content 1</h4>
      <div class="text-wrap">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad magnam, laborum facere id, error consectetur quia accusantium
          voluptatum laboriosam, quas voluptatem deleniti officia accusamus deserunt mollitia? Natus fugit adipisci nobis.</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <h4>content 2</h4>
      <div class="text-wrap">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum iusto architecto esse quisquam, eaque sed quibusdam, autem
        quam illo beatae voluptatem laboriosam vitae aperiam quia officiis praesentium nostrum ad laudantium!
      </div>

    </div>

    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
      <h4>content 2</h4>
      <div class="text-wrap">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni iste nihil omnis, in incidunt autem, repudiandae consequuntur
        odit, praesentium numquam sunt quod ducimus minima consectetur aliquid nisi libero facere. Ea asperiores consectetur
        aut, sint architecto eius! Nesciunt inventore sapiente quos atque totam, nam minima, et dignissimos obcaecati illo,
        ex ullam soluta sint laborum. Corporis deserunt, corrupti natus veritatis quasi magni rem optio quidem sequi, sit
        numquam. Sapiente dignissimos quisquam obcaecati ea, tenetur suscipit laborum iure repellat natus nulla iusto sequi
        pariatur in eligendi ullam aut enim consectetur deleniti excepturi reprehenderit? Sint, alias labore. Tempore perspiciatis
        harum molestiae quo, minus alias?
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <h4>content 1</h4>
      <div class="text-wrap">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, sunt!
      </div>
    </div>



  </div>
</div>

<div class="container-fluid">
  <div class="jumbotron">
    <button type="button" class="btn btn-success btn-autosize" data-toggle="collapse" data-target="#demo">Simple collapsable</button>
    <div id="demo" class="collapse in">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    <div class="card text-white bg-secondary mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

</div>


<div class="container">
  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
    <button class="btn btn-success btn-autosize">

      Home
    </button>

    <button class="btn btn-danger btn-autosize">

      Download
    </button>

  </div>

  <div class="container" style="margin-bottom:100px;">
    <div class="row">
      <div class="col-lg-5">
        <button class="btn btn-danger btn-autosize">btn1</button>
        <button class="btn btn-danger btn-autosize">btn2</button>
        <button class="btn btn-danger btn-autosize">btn3</button>
        <button class="btn btn-danger btn-autosize">btn1</button>

      </div>
      <div class="vl col-lg-1"></div>
      <div class="col-lg-6">
        <button class="btn btn-success btn-autosize">btn1</button>
        <button class="btn btn-success btn-autosize">btn1</button>
        <button class="btn btn-success btn-autosize">btn1</button>
        <button class="btn btn-success btn-autosize">btn1</button>

        <button class="btn btn-success btn-autosize">btn1</button>
        <button class="btn btn-success btn-autosize">btn1</button>
        <button class="btn btn-success btn-autosize">btn1</button>
        <button class="btn btn-success btn-autosize">btn1</button>
        <button class="btn btn-success btn-autosize">btn1</button>
        <button class="btn btn-success btn-autosize">btn1</button>
        <button class="btn btn-success btn-autosize">btn1</button>
        <button class="btn btn-success btn-autosize">btn1</button>
        <button class="btn btn-success btn-autosize">btn1</button>
        <button class="btn btn-success btn-autosize">btn1</button>
        <button class="btn btn-success btn-autosize">btn1</button>
        <button class="btn btn-success btn-autosize">btn1</button>

      </div>
    </div>


  </div>

</div>
<div class="container">
  <div class="row">
    <div class="smartphone col-lg-7" style="margin-right:1px; margin-bottom:50px;">
      <div class="content" style="width:102%;border:none;height:100%">
        <iframe src="index.html" style="width:100%;border:none;height:100%"> </iframe>
      </div>
    </div>

    <div class="smartphone col-lg-4">
      <div class="content" style="width:105%;border:none;height:100%">
        <iframe src="index.html" style="width:100%;border:none;height:100%"> </iframe>
      </div>
    </div>


  </div>
</div>